# SPDX-License-Identifier: Apache-2.0

mainmenu "Wi-Fi fan controller"

menu "Wi-Fi fan settings"

config WIFI_FAN_WIFI_SSID
	string "Wi-Fi SSID"
	default ""

config WIFI_FAN_WIFI_PASSWORD
	string "Wi-Fi password"
	default ""

config WIFI_FAN_MQTT_HOST
	string "TLS MQTT broker hostname"
	default "ej3989.iptime.org"

config WIFI_FAN_MQTT_PORT
	int "TLS MQTT broker port"
	default 8883
	range 1 65535

config WIFI_FAN_MQTT_USERNAME
	string "MQTT username"
	default "wifi_fan_device"

config WIFI_FAN_MQTT_PASSWORD
	string "MQTT password"
	default ""

config WIFI_FAN_SNTP_HOST
	string "SNTP server hostname"
	default "pool.ntp.org"

config WIFI_FAN_SNTP_PORT
	int "SNTP server port"
	default 123
	range 1 65535

endmenu

source "Kconfig.zephyr"
